#root{
    width: 60px;
    height: 60px;
    border: 3px solid #000;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: loading ease-in-out 1s infinite;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
@keyframes loading {
    from {
        transform: rotate(0deg)
    }
    to{
        transform: rotate(360deg)
    }
}